@media only screen and (max-width: 640px) {
  .container .location {
    font-size: 16px!important;
    padding: 14px!important;
  }
  .container .footer-icons img {
    width: 50px!important;
  }
  .container .footer-icons span {
    font-size: 13px!important;
  }
}

@media only screen and (max-width: 280px) {
  .container .locationgeo p,
  .container .location,
  .container .input-field {
    font-size: 14px!important;
  }
  .location img {
    width: 40px!important;
  }
  .container .beHeading h1,
  .beHeading h1 strong {
    margin-left: 4px!important;
  }
  input[type=checkbox] {
    height: 16px!important;
  }
  .container .footer-icons span {
    font-size: 11px!important;
  }
}

@media only screen and (max-width: 1024px) {
  #map {
    height: 50vh;
    margin-bottom: 10px;
    display: none;
  }
  .container .input-field {
    width: 90%;
    color: #A8A8A8;
    font-size: 16px;
    padding: 8px;
  }
  #locationList .card {
    padding: 10px;
  }
  #toast-container {
    top: 50%;
    bottom: unset;
  }
  .toast {
    background-color: rgba(0, 0, 0, .8);
  }
  .container .Save-button-docked {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
  }
  .container .fbd-without .btn {
    height: 70px;
    font-size: 16px;
    padding-top: 13px;
    width: 100%;
  }
  .container .btn.btn-red {
    background: #f34f4f none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    border-radius: 4px;
  }
  .container .btn {
    cursor: pointer;
    appearance: none;
    padding: 10px;
    border: 0;
  }
  .newTheme {
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    color: #333;
    font-size: 16px;
    font-family: "Rubik-Regular", "Arial" !important;
  }
  .locationList input.input-validation-error {
    background: #FEF1EC;
    border: 1px solid #CD0A0A;
  }
  .errors {
    padding: 15px;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    pointer-events: none;
  }
  .container .addre {
    margin-top: 77px;
  }
  .container .location {
    border: 0;
    padding: 28px;
    width: 90%;
    background: #fff;
    box-shadow: 1px 1px 2px 3px #e1e1e1;
    border-radius: 4px;
    color: #E85867;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location img {
    width: 50px;
  }
   ::placeholder {
    color: #9E9E9E;
    opacity: 1;
  }
  .main {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #6E6E6E;
    text-align: left;
    margin-right: 32px;
  }

  input[type=checkbox] {
    visibility: hidden;
  }
  .geekmark {
    position: absolute;
    top: 0;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: #8A8A8A;
  }
  .main input:active~.geekmark {
    background-color: red;
  }
  .main input:checked~.geekmark {
    background-color: #8A8A8A;
  }
  .geekmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .main input:checked~.geekmark:after {
    display: block;
  }
  .main .geekmark:after {
    left: 6px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .container .locationgeo p {
    color: #9E9E9E;
    text-align: center;
    font-size: 20px;
  }
  .addre h3 {
    color: #6E6E6E;
    margin: 10px;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
  }
  input[type="text"] {
    padding: 29px 15px;
    border: 1px solid #cdcdcdcd;
    height: 50px;
    width: 100%;
    box-shadow: 0 0px 2px 0 #cdcdcd;
    border-radius: 4px;
    margin-right: 17px;
    font: normal 1.143em/20px "Lato", "Helvetica Neue", sans-serif;
  }
  ..container label {
    color: #8F8F8F;
    font-size: 13px;
    font-size: 16px;
  }
  ..container #shippingAddress {
    margin-top: -4px;
  }
  .container .locationList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 29px 0px 29px 0px;
    height: auto;
  }
  .container .footer-icons {
    display: flex;
  }
  .container .footer-icons span {
    display: inline-flex;
    margin-top: 12px;
    line-height: 20px;
    font-size: 16px;
    color: #CACACA;
    font-weight: bold;
  }
  .container .footer-icons img {
    width: 100px;
  }
  .container .locationgeo {
    background-color: #fff;
    padding: 23px 0px 10px 0px;
    margin: 0 0 10px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clr {
    clear: both;
  }
  .container .beHeading {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    color: #333;
    z-index: 100000;
    width: 100%;
    min-height: 62px;
    display: table;
    box-shadow: 0 0 5px 0 #888;
  }
  .fs20 {
    font-size: 20px;
  }
  .container .beHeading h1 {
    color: #333;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
  }
  .container .beHeading h1 span {
    display: inline-flex;
    margin-top: 4px;
    margin-left: 10px;
  }
  .container .beHeading h1,
  .beHeading h1 strong {
    color: #333;
    margin-left: 7px;
    margin-top: 2px;
  }
  .container .dFlex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    text-align: center;
    height: 167px;
    margin-top: 10px;
  }
}